# Git files
.git
.gitignore

# Virtual env
.venv/
.env*
.python-version

# Developer tools
.ruff_cache/
.pytest_cache/
.pre-commit-config.yaml

# Python cache
__pycache__/
*.py[cod]

# IDE
.vscode/
.devcontainer/

# Database
postgres_data/
