SECRET_KEY=change-me
ALGORITHM=HS256
POSTGRES_USER=test_user
POSTGRES_PASSWORD=test_password
POSTGRES_DB=test_db
POSTGRES_HOST=db
POSTGRES_PORT=5432
RABBITMQ_USER=test_user
RABBITMQ_PASSWORD=test_password
RABBITMQ_VHOST=test_vhost
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
DOCUMENT_STORAGE_PATH=/tmp/financial-assistant-test-documents
AI_REQUEST_TIMEOUT_SECONDS=60
EMBEDDING_REQUEST_TIMEOUT_SECONDS=30
AI_REQUEST_ATTEMPTS=3
RABBITMQ_MANAGEMENT_PORT=15672
INGESTION_CONSUMER_TIMEOUT_SECONDS=10800
