SECRET_KEY=change-me
ALGORITHM=HS256
POSTGRES_USER=test_user
POSTGRES_PASSWORD=test_password
POSTGRES_DB=test_db
POSTGRES_HOST=db
POSTGRES_PORT=5432
RABBITMQ_DEFAULT_USER=test_user
RABBITMQ_DEFAULT_PASS=test_password
RABBITMQ_DEFAULT_VHOST=test_vhost
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
