SECRET_KEY=change-me
ALGORITHM=HS256
POSTGRES_USER=test_user
POSTGRES_PASSWORD=test_password
POSTGRES_DB=test_db
POSTGRES_HOST=db
POSTGRES_PORT=5432
RABBITMQ_USER=test_user
RABBITMQ_PASSWORD=test_password
RABBITMQ_VHOST=test_vhost
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
DOCUMENT_STORAGE_PATH=/tmp/financial-assistant-test-documents
AI_REQUEST_TIMEOUT_SECONDS=120
RABBITMQ_MANAGEMENT_PORT=15672
